h1 {
  text-align: center;
}

.container {
  background-color: rgb(255, 255, 255); /* White color (all RGB values at max) */
  padding: 10px 0; /* 10px padding on top and bottom, 0 on left and right */
}

.marker {
  width: 200px;
  height: 25px;
  margin: 10px auto;
}

.one {
  background-color: rgb(255, 0, 0); /* Red color */
}

.two {
  background-color: rgb(0, 255, 0); /* Pure green */
}

.three {
  background-color: rgb(0, 0, 255); /* Blue color */
}
